@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-color1: #2d5d20;
  --color-color2: #fcf1e3;
  --color-color3: #fcfbf6;
  --color-color4: #f2eac7;
  --color-color5: #412712;
}