@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-color1: #2d5d20;
  --color-color2: #fcf1e3;
  --color-color3: #fcfbf6;
  --color-color4: #f2eac7;
  --color-color5: #412712;
}

/* Hide native browser password reveal eye button */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}

/* Base resets & utilities for form inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fcfbf6 inset !important;
  -webkit-text-fill-color: #412712 !important;
}